<div class="col-md-4">
  <h4><%= video.title %></h4>
  <%= link_to video, class: 'thumbnail' do %>
    <%= image_tag video.screenshot_url('320x195') %>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <p>By <%= link_to video.user.displayname, user_videos_path(video.user) %></p>
    </div>
    <div class="col-md-6 text-right">
      <p><%= l video.created_at, format: :short %></p>
    </div>
  </div>
  <p>
    <%= truncate video.description, length: 100, omission: ' [...]' %>
  </p>
  <p>
    <%= link_to raw('Video details &raquo;'), video, class: 'btn btn-default' %>
  </p> 
</div>