<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2><%= @video.title %></h2>
      <p>
        <%= render partial: 'player' %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p>By <%= link_to @video.user.displayname, @video.user %></p>
    </div>
    <div class="col-md-4 text-right">
      <p><%= l @video.created_at, format: :short %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <p><%= auto_link(simple_format(@video.description), html: { target: '_blank' }) %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      Versions
      <% @video.versions.each do |version| %>
        &nbsp;|&nbsp;
        <%= link_to version.resolution, video_version_path(@video, version), class: 'resolution' + (version.id == @version.id ? ' current' : '') %>
      <% end %>
    </div>
  </div>
</div>