<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2><%= @video.title %></h2>
      <p>
        <%= image_tag @video.screenshot_url('640x480') %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p>By <%= link_to @video.user.displayname, @video.user %></p>
    </div>
    <div class="col-md-4 text-right">
      <p><%= l @video.created_at, format: :short %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <p><%= @video.description %></p>
    </div>
  </div>
</div>